.nav-bar {
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  max-width: 90%;
  min-width: 460px;
  margin: 10px auto 0 auto;
}

#nav-logo {
  margin-right: 5rem;
}

.nav-search {
  padding-right: 3rem;
}

.nav-left a,
.nav-right a {
  padding: 5px 3rem 0 0;
  color: rgba(0, 0, 0, 0.5);
}

.nav-left a:hover,
.nav-right a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.nav-search a {
  padding-left: 5px;
}
