<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Database Interface</title>
  </head>
  <body>
    <h1>Backend Database Interface</h1>
    <h3>Users</h3>
    <ul>
      <li>
        <a target="_blank" href="/professors">Professors</a>
      </li>
      <li>
        <a target="_blank" href="/employers">Employers</a>
      </li>
      <li>
        <a target="_blank" href="/students">Students</a>
      </li>
      <li><a target="_blank" href="/admins">Admins</a></li>
    </ul>
    <h3>React Component Cards</h3>
    <ul>
      <li>
        <a target="_blank" href="/student_cards">Student Cards</a>
      </li>
      <li>
        <a target="_blank" href="/job_cards">Job Cards</a>
      </li>
    </ul>
    <h3>FRONTEND USE ONLY</h3>
    <li>
      <a target="_blank" href="/register">Sign Up User</a>
    </li>
    <li>
      <a target="_blank" href="/sign_in">Sign In User</a>
    </li>
    <li>
      <a target="_blank" href="/filter_job_cards">Filter Job Cards
      </a>
    </li>
  </body>
</html>
