#search-jobs,
#search-students {
  max-width: 400px;
  margin: 0 auto 0 auto;
}

.job-card,
.student-card {
  min-width: 300px;
  width: 33%;
  height: 100%;
  border-style: solid;
  border-radius: 5%;
  border-color: #2b2b2b;
  margin: 1%;
}

.job-card li,
.student-card li {
  font-size: 75%;
}

#filter-jobs,
#filter-students {
  font-size: 18px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
  grid-column: 2 / span 5;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
