
h1 {
  font-size: 10vw;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  
h1 span {
  max-width: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

#welcome-text {
  margin: 15% auto 0 auto;
  width: 240px;
  text-align: center;
}
