@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.home-flex {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

.top {
  flex-direction: column;
  background: #66d3d9;
  margin-top: -5rem;
  position: relative;
}

.bottom {
  flex-direction: column-reverse;
  background: #fff;
}

.home-flex img {
  width: 40%;
  min-width: 20rem;
  margin: 4rem;
}

#post-header {
  font-size: 250%;
  text-align: center;
}

#post-p {
  text-align: center;
}

.home-btn {
  background: #2b2b2b !important;
  color: #fff;
}

.home-btn:hover {
  background: #eee !important;
  color: #000 !important;
}

/* Browser Desktop */
@media (min-width: 1100px) {
  .home-flex {
    flex-direction: row;
  }

  .home-flex img {
    max-width: 35rem;
  }

  #post-header {
    font-size: 300%;
    text-align: left;
  }

  #post-p {
    text-align: left;
  }
}
